@{
    ViewData["Title"] = "Home Page";
}
@*<div class="row">
    <div class="col-sm-12">
        <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    <h1 class="display-4">Hi, students!</h1>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <p>
                            welcome to our software development class @DateTime.Now.Year
                        </p>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>


        </div>


    </div>


</div>*@
